@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --inter700:'Inter', sans-serif;
    --inter400:'Inter', sans-serif;
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background-color: var(--very-dark-blue);
    margin: 15em 10em;
}

.card{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-desaturated-blue);
    max-width: 1000px;
    min-height: 440px;
    border-radius: 2%;
}
.accent{
    color: var(--soft-violet)
}
.text-container h1{
    font-size: 35px;
    font-weight: 700;
    color: var(--white);
    padding: 2em 4em 0.5em 1em;
    font-family: var(--inter700);
}
.text-container p{
    padding: 0 8em 1em 2.4em;
    color: var(--slightly-transparent-white-main-para);
    font-family: var(--inter400);
    font-size: 15px;
}
.img-container img{
    display: inline;
    border-radius: 0 2% 2% 0;
}
.img-container::before{
    filter:hsla(277, 64%, 61%,0.4);
}
.stats{
    margin-top: 3em;
}
.stats h3{
    display: inline;
    color: var(--white);
    padding: 1em;
    font-family: var(--inter400);
    font-size: 20px;
   
}
.stats p{
    font-size: 13px;
    text-transform: uppercase;
    color: var(--slightly-transparent-white-stat-headings);
    display: inline-block;
    padding-left: 0;
}
.attribution { 
    font-size: 11px; text-align: center; 
    visibility: hidden;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    visibility: hidden;
    }

    