@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --inter700:'Inter', sans-serif;
    --inter400:'Inter', sans-serif;
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    background-color: var(--very-dark-blue);
    margin: 15em 10em;
}

.main-container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-desaturated-blue);
    max-width: 100%;
    min-height: 100%;
    border-radius: 2%;
}
.accent{
    color: var(--soft-violet)
}
.text-container{
    margin: 30px 10px;
}
.text-container h1{
    
    font-size: 35px;
    font-weight: 700;
    color: var(--white);
    padding: 1em 2em 0.25em 0.5em;
    font-family: var(--inter700);
}
.text-container p{
    padding: 0 4em 0.5em 1.2em;
    color: var(--slightly-transparent-white-main-para);
    font-family: var(--inter400);
    font-size: 15px;
}
.stats-container{
    display: flex;
}
.img-container{
    position: relative;
    width: 100%;
    right: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    overflow: hidden;
}
.img-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(169, 38, 251, 0.45);
}
.stats-container{
    margin-top: 3em;
}
.stats-container h3{
    display: inline;
    color: var(--white);
    padding: 1em;
    font-family: var(--inter400);
    font-size: 20px;
   
}
.stats-container p{
    font-size: 13px;
    text-transform: uppercase;
    color: var(--slightly-transparent-white-stat-headings);
    display: inline-block;
    padding-left: 0;
}
.attribution { 
    font-size: 11px; text-align: center; 
    visibility: hidden;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    visibility: hidden;
    }
    
